@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.inputForm {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-image: url("./planeimage.png");
    background-size: cover;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
    text-align: left;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .float{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.title {
    font-size: 50px;
    opacity: 1;
}

.title-bold {
    font-size: 50px;
    opacity: 1;
    font-weight: 700;
}

.question {
    display: none;
    flex-direction: column;
  }

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  * {
    box-sizing: border-box;
  }

  .select {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    gap: 1px;
    padding: 20px;
  }
  
  .select__item {
    padding: 10px;
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    text-align: center;
    border-radius: 3px;
    background: #eeeeee;
    transition: 0.1s;
  }
  
  .select__item--selected {
    background: #009578;
    color: #ffffff;
  }
  

  @font-face {
    font-family: 'Sofia-Pro';
    src: url('sofiapro-light.otf');
}
  .loadingContainer{
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.icons{
    display: flex;
}

.icon-1{
    width: 4vw;
    height: 4vw;
    background-image: url('airplane.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-2{
    width: 4vw;
    height: 4vw;
    background-image: url('booking.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-3{
    width: 4vw;
    height: 4vw;
    background-image: url('best-friends.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-4{
    width: 4vw;
    height: 4vw;
    background-image: url('hotel-sign.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-5{
    width: 4vw;
    height: 4vw;
    background-image: url('train.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.text{
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 2vw;
    font-family: 'Sofia-Pro';
}