* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v3_4 {
    width: 111px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 50px;
    left: 106px;
    font-family: Titillium Web;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v3_7 {
    width: 33px;
    height: 42px;
    background: url("v3_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 55px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v10_3 {
    width: 76px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 65px;
    left: 311px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v10_4 {
    width: 92px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 65px;
    left: 431px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v10_7 {
    width: 666px;
    height: 488px;
    background: url("v10_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 341px;
    left: 700px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
  }
  .v10_8 {
    width: 401px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 180px;
    left: 160px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }
  .v13_49 {
    width: 377px;
    height: 494px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 341px;
    left: 199px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v13_50 {
    width: 328px;
    height: 832px;
    background: url("v13_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 16px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v13_58 {
    width: 328px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 16px;
    overflow: hidden;
  }
  .v13_59 {
    width: 118px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 0px;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  
  ul {
    position: absolute;
    top: 110px;
    list-style-type: none;
    margin: 0;
    padding: 20;
    padding-top: 50;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    width: 76px;
    color: rgba(0,0,0,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    padding: 20px 20px 24px 26px;
    text-decoration: none;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .main {
    width: 111px;
    color: rgba(0,0,0,1);
    font-family: Titillium Web;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  
  .container {
    height: 100px;
    position: relative;
  }