* {
    font-family: 'Inter';
}
body {
    margin: 0;
}
.itineraryContainer {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.dayBox {
    background: #C8D6D7;
    width: 160px;
    border-radius: 30px;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
}

.activity {
    /* background: #ccc; */
    /* border-radius: 20px; */
    padding: 10px;
    margin-bottom: 20px;
    border-left: 2px solid black;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
    font-weight: bold;
}

.infoUl {
    list-style-type: none;
    padding: 0%;
}

.time {
    background: rgba(112, 209, 203, 0.5);
    border-radius: 20px;
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.stars {
    background: #FEC000;
    border-radius: 20px;
    width: 150px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.cost {
    background: #A1CAA0;
    border-radius: 20px;
    width: 120px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.ai-chatbot {
    position: fixed;
    right: 10px;
    top: 90%;
}

.chatbotContainer {
    position: absolute;
    right: 70px;
    background: #333;
    color: #fff;
    width: 300px;
    height: 400px;
    top: -440px;
    border-radius: 20px;
    overflow: hidden;
}

.chatbotMessages {
    padding: 10px;
    overflow-y: auto;
    height: 300px;
}

.messageInput {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.textMessage {
    background: #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.userTextMessage {
    background: #0084ff;
    color: #fff;
}

.ai-chatbot-open-btn {
    border-radius: 50% 50% 0% 50%;
    /* padding: 10px; */
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 30px;
    width: 4vw;
    height: 4vw;
    background-image: url('speech-bubble.gif');
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.ai-chatbot-open-btn:hover {
    transform: scale(1.1);
}

