* {
    font-family: 'Inter';
}
body {
    margin: 0;
}
.itineraryContainer {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.dayBox {
    background: #C8D6D7;
    width: 160px;
    border-radius: 30px;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
}

.activity {
    /* background: #ccc; */
    /* border-radius: 20px; */
    padding: 10px;
    margin-bottom: 20px;
    border-left: 2px solid black;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
    font-weight: bold;
}

.infoUl {
    list-style-type: none;
    padding: 0%;
}

.time {
    background: rgba(112, 209, 203, 0.5);
    border-radius: 20px;
    width: 200px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.stars {
    background: #FEC000;
    border-radius: 20px;
    width: 150px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.cost {
    background: #A1CAA0;
    border-radius: 20px;
    width: 120px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.ai-chatbot {
    position: fixed;
    right: 10px;
    top: 90%;
}

.chatbotContainer {
    position: absolute;
    right: 50px;
    background: #333;
    color: #fff;
    width: 300px;
    height: 400px;
    top: -420px;
    border-radius: 20px;
}

.messageInput {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.ai-chatbot-open-btn {
    background: #100da2;
    border-radius: 50%;
    /* padding: 10px; */
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 30px;
}