<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/index.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v2_2"><span class="v3_4">Travel AI</span>
        <div class="v3_7"></div>
        <div class="name"></div>

    <ul class="container">
    <li><a href="#news">About</a></li>
    <li><a href="#contact">Services</a></li>
    <li style="float:right"><a href="#contact">Sign in</a></li>
    </ul>
        <div class="name"></div>
        <div class="v10_7"></div><span class="v10_8">Plan your next trip with TravelAI</span>
        <div class="v13_49">
            <div class="v13_50">
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="name"></div>
        </div>
    </div>
</body>

</html>